.pgcontato
    width: 100%
    background: url(../../img/bg-contato.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    color: #323232
    .pgcontato__container
        max-width: 1170px
        width: 100%
        padding: 0 15px
        margin: 0 auto
        padding-top: 199px
        padding-bottom: 51px
        display: flex
        align-items: flex-end
        justify-content: flex-start
        margin-bottom: 32px
        @media(max-width: 768px)
            flex-wrap: wrap
    .pgcontato__informacoes
        max-width 323px
        width: 100%
        transition: all .5s ease-in-out
        transform: translate3d(-300%, 0, 0)
        padding-bottom: 30px
        @media(max-width: 768px)
            max-width: 100%
            text-align: center
        &--animacao
            transform: translate3d(0, 0, 0)
    .pgcontato__nome
        font-size: 48px
        font-weight: bold
        line-height: 60px
        margin-top: 0px
    .pgcontato__divisor
        background: #323232
        height 1px
        width: 145px
        margin-top: 22px
        margin-bottom: 30px
        @media(max-width: 768px)
            margin: 0 auto
            margin-top: 22px
            margin-bottom: 30px
    .pgcontato__titulo
        font-size: 20px
        font-weight: 400
        line-height: 25px
        margin-bottom: 15px
    .pgcontato__subtitulo
        font-size: 13px
        font-weight: 400
        line-height: 16px
        margin-bottom: 15px
    .pgcontato__text
        font-weight: bold
        font-size: 13px
        line-height: 16px
    .pgcontato__telefone
        font-size: 24px
        font-weight: bold
        line-height: 30px
    .pgcontato__text--icon
        display: flex
        align-items: center
        justify-content: flex-start
        @media(max-width: 768px)
            justify-content: center
        &:before
            content: ''
            display: block
            width: 14px
            height 14px
            margin-right: 4px
            background-repeat: no-repeat
            background-size: cover
            background-position: center
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAHCRtXMAAAA40lEQVQYGQXBTSvDcQAA4Oc/Szis5m3KRU2O7o67yE1pZxfl7sB5jrTkorj4CFoU5WBI5jQXWS5jLsxlL2Flaz/PA89sC2wA9yw7QpN9XX2gYZxFYESPSFBVGkDbpQ8U/HGBO3GQI3IMmHYDcSU/8sCMJzAlQMAVSNmjiDrglzbWvPvELXUAb2IETT0vgiTAvLKuorycU011K0CkqCYBACj4MsmhlggtQRoAZyoxSRUBS7o2DVo1CqpSzOrbAiwo6thFRt963ITIkB3fDpRkJGQ1dKS9Rh48OnFtTNacYTXnysA/b1hO4uXRuukAAAAASUVORK5CYII=")
    .pgcontato__social
        display: flex
        align-items: center
        justify-content: flex-start
        margin-top: 22px
        @media(max-width: 768px)
            justify-content: center
    .pgcontato__item
        margin-right: 15px
        &:last-child
            margin-right: 0px
        svg 
            transition: all .3s ease-in-out
            &:hover
                transform: scale(1.25)
    #icon-facebook
        width: 11px
        height 20px
    #icon-instagram
        width: 21px
        height 21px
    #icon-linkedin
        width: 20px
        height 19px
    .pgcontato__formulario
        max-width: 458px
        margin-left: 66px
        width: 100%
        @media(max-width: 768px)
            margin: 0 auto
            margin-top: 30px
        .wpcf7-text
            border: 1px solid #E6E6E6
            height 53px
            margin-bottom: 9px
            color: #B4B4B4
            font-size: 15px
            font-weight: 300
            padding-left: 20px
            &::placeholder
                color: #B4B4B4
                font-size: 15px
                font-style: italic
                font-weight: 300
        .wpcf7-textarea
            border: 1px solid #E6E6E6
            margin-bottom: 11px
            color: #B4B4B4
            font-size: 15px
            font-weight: 300
            height 88px
            padding-left: 20px
            padding-top: 17px
            &::placeholder
                color: #B4B4B4
                font-size: 15px
                font-style: italic
                font-weight: 300
        .wpcf7-submit
            background: none 
            border: 1px solid #7F7F7F
            font-size: 12px
            color: #323232
            font-weight: 400
            width: 154px
            height 34px
        .wpcf7-form p:nth-last-child(2)
            text-align: right
            padding-right: 10px
            position relative
            &:after
                content: ''
                display: block
                position: absolute
                top: 11px
                right: -1px
                width: 18px
                height 13px
                background-repeat no-repeat
                background-position: center
                background-size: cover
                background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAANCAMAAAHkl/69AAAARVBMVEUAAACAgICAgICOjo6AgICAgICAgICDg4OAgICAgICBgYGAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIB/f3+gs6qxAAAAFnRSTlMABggJHiAiJUZKWV5mhLi5xcfg7fb3SPpH/AAAAFdJREFUCNdjYAADVgY0ABZgBjNFQQQfELPDJEEiAkIQIAYV44cZwQk3g4MXhQnVIMIFFWMSQmcwCKI6gk2UlwEDcOAU5OBGBjzCQiwoapj4hVC9yQgVAAC5+AOkEXqnpQAAAABJRU5ErkJggg==")
