.download
    display flex
    justify-content center
    flex-direction column

    &__title
        font-size 2rem
        font-weight 600
        color $light-navy-blue


    &__content
        display flex
        flex-direction column
        text-align left
        justify-content center

        h4
            font-size 1.5rem
            font-weight 500
            font-stretch normal
            font-style normal
            line-height normal
            letter-spacing normal
            color $windows-blue
            margin-top 10px
            margin-bottom 30px

        h2
            font-size 2rem
            font-weight 600
            color $light-navy-blue

        p
            font-family WorkSans
            font-size .9rem
            font-weight 400
            font-stretch normal
            font-style normal
            line-height 1.87
            letter-spacing normal
            text-align justify
            color $brownish-grey

        .wp-block-button__link
            font-size 1rem
            font-weight 600
            font-stretch normal
            font-style normal
            line-height normal
            letter-spacing normal
            text-align center
            color $white
            padding 0
            display flex
            justify-content center
            align-items center
            height 48px
            padding-left 100%
            padding-right 100%
            white-space nowrap
            margin-top 40px
