.valores
    width: 100%
    height: 373px
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    background: url(../../img/bg-home2.jpg)
    @media(max-width:992px)
        height auto
        padding: 30px 0
    .valores__container
        max-width: 1170px
        width: 100%
        padding: 0 15px
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: space-between
        overflow hidden
        @media(max-width:992px)
            flex-wrap: wrap
            justify-content: center
        &--animacao
            overflow visible
            .valores__empresa
                animation: animation1 .4s linear 0s 1 
                transform: translate3d(0,0,0)
                opacity 1
    .valores__empresa
        background: #ffffff
        color: #323232
        height 417px
        max-width: 580px
        width: 100%
        padding-top: 71px
        padding-left: 47px
        padding-right: 74px
        margin-top: -20px
        z-index: 1
        transform: translate3d(200%,0,0)
        opacity 0
        @media(max-width:992px)
            margin-top: 15px
            margin-top: 15px
            height: auto
            padding: 40px 15px
        .valores__separador
            background: #323232
            height 1px
            width: 145px
            margin: 23px 0
        .valores__link
            color: #323232
            margin-top: 20px
        .valores__titulo
            font-size: 20px
            font-weight: 900
            line-height: 25px
            margin-bottom: 8px
        .valores__text
            font-size: 13px
            line-height: 16px
            font-weight: 400
    .valores__diferencial
        max-width: 459px
        width: 100%
        .valores__titulo
            font-size: 36px
            line-height: 45px
            font-weight: 900
            margin-bottom: 16px
        .valores__text
            font-size: 13px
            line-height: 16px
            font-weight: 400
            margin-bottom: 37px
    .valores__link
        display: block
        position relative
        border: 1px solid #7F7F7F
        border-radius: 4px
        font-size: 12px
        font-weight: 600
        line-height: 34px
        color: #ffffff
        width: 164px
        height 34px
        text-align: center
        &:after
            content: ''
            display: block
            position: absolute
            top: 9px
            right: -15px
            width: 18px
            height 13px
            background-repeat no-repeat
            background-position: center
            background-size: cover
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAANCAMAAAHkl/69AAAARVBMVEUAAACAgICAgICOjo6AgICAgICAgICDg4OAgICAgICBgYGAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIB/f3+gs6qxAAAAFnRSTlMABggJHiAiJUZKWV5mhLi5xcfg7fb3SPpH/AAAAFdJREFUCNdjYAADVgY0ABZgBjNFQQQfELPDJEEiAkIQIAYV44cZwQk3g4MXhQnVIMIFFWMSQmcwCKI6gk2UlwEDcOAU5OBGBjzCQiwoapj4hVC9yQgVAAC5+AOkEXqnpQAAAABJRU5ErkJggg==")

.detalhes
    width: 100%
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    background: url(../../img/bg-home3.jpg)
    .detalhes__container
        max-width: 1170px
        width: 100%
        padding: 0 15px
        margin: 0 auto
        padding-top: 177px
        padding-bottom: 45px
        @media(max-width:992px)
            padding: 30px 15px
    .detalhes__lista
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
        max-width 930px
        width: 100%
        margin: 0 auto
        opacity 0
        transition: all .5s ease-in-out
        &--animacao
            opacity 1

    .detalhes__item
        flex: 0 0 33%
        text-align: center
        margin-bottom: 40px
        @media(max-width:570px)
            flex: 0 0 50%
        @media(max-width:475px)
            flex: 0 0 40%
    .detalhes__img
        transition: all .3s ease-in-out
        &:hover
            transform: scale(0.75)
    .detalhes__descricao
        color: #323232
        font-size: 18px
        max-width: 175px
        margin: 0 auto
        font-weight: 300
        margin-top: 15px
    .detalhes__titulo
        font-size: 48px
        color: #323232
        text-align: center
        margin-bottom: 80px
        font-weight: 600
        @media(max-width:992px)
            font-size: 28px
            margin-bottom: 30px
.contato
    width: 100%
    height 517px
    background: url(../../img/bg-home4.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    overflow hidden
    @media(max-width:992px)
        height auto
        padding-bottom: 30px
    .contato__container
        max-width: 1170px
        width: 100%
        padding: 0 15px
        margin: 0 auto
        padding-top: 85px
        transform: translate3d(0, 200%, 0)
        transition: all .5s ease-in-out
        @media(max-width:992px)
            padding-top: 30px
        &--animacao
            transform: translate3d(0, 0, 0)
    .contato__titulo
        font-size: 48px
        color: #323232
        font-weight: bold
        text-align: center
        margin-bottom: 64px
        @media(max-width:992px)
            font-size: 28px
            margin-bottom: 30px
    .contato__subtitulo
        font-size: 13px
        color: #323232
        font-weight: 400
        text-align: center
        margin-bottom: 18px
    .contato__text
        font-size: 13px
        color: #323232
        font-weight: bold
        text-align: center
        display: block
    .contato__text--margin
        margin-top: 13px 
        margin-bottom: 23px
    .contato__text--icon
        display: flex
        align-items: center
        justify-content: center
        &:before
            content: ''
            display: block
            width: 14px
            height 14px
            margin-right: 4px
            background-repeat: no-repeat
            background-size: cover
            background-position: center
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAHCRtXMAAAA40lEQVQYGQXBTSvDcQAA4Oc/Szis5m3KRU2O7o67yE1pZxfl7sB5jrTkorj4CFoU5WBI5jQXWS5jLsxlL2Flaz/PA89sC2wA9yw7QpN9XX2gYZxFYESPSFBVGkDbpQ8U/HGBO3GQI3IMmHYDcSU/8sCMJzAlQMAVSNmjiDrglzbWvPvELXUAb2IETT0vgiTAvLKuorycU011K0CkqCYBACj4MsmhlggtQRoAZyoxSRUBS7o2DVo1CqpSzOrbAiwo6thFRt963ITIkB3fDpRkJGQ1dKS9Rh48OnFtTNacYTXnysA/b1hO4uXRuukAAAAASUVORK5CYII=")
    .contato__telefone
        font-size: 24px
        color: #323232
        font-weight: bold
        text-align: center
        display: block
    .contato__link
        display: block
        position relative
        border: 1px solid #7F7F7F
        border-radius: 4px
        font-size: 12px
        font-weight: 600
        line-height: 34px
        color: #323232
        width: 133px
        height 34px
        text-align: center
        margin: 0 auto
        margin-bottom: 17px
        &:after
            content: ''
            display: block
            position: absolute
            top: 9px
            right: -15px
            width: 18px
            height 13px
            background-repeat no-repeat
            background-position: center
            background-size: cover
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAANCAMAAAHkl/69AAAARVBMVEUAAACAgICAgICOjo6AgICAgICAgICDg4OAgICAgICBgYGAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIB/f3+gs6qxAAAAFnRSTlMABggJHiAiJUZKWV5mhLi5xcfg7fb3SPpH/AAAAFdJREFUCNdjYAADVgY0ABZgBjNFQQQfELPDJEEiAkIQIAYV44cZwQk3g4MXhQnVIMIFFWMSQmcwCKI6gk2UlwEDcOAU5OBGBjzCQiwoapj4hVC9yQgVAAC5+AOkEXqnpQAAAABJRU5ErkJggg==")
    .contato__social
        display: flex
        align-items: center
        justify-content: center
    .contato__item
        margin-right: 15px
        &:last-child
            margin-right: 0px
        svg 
            transition: all .3s ease-in-out
            &:hover
                transform: scale(1.25)
    #icon-facebook
        width: 11px
        height 20px
    #icon-instagram
        width: 21px
        height 21px
    #icon-linkedin
        width: 20px
        height 19px

.trigger__contato
    position relative
    .trigger__contato--animacao
        position: absolute
        top: -150px

@keyframes animation1
    0%
        transform: translate3d(200%, 0, 0)
        opacity 0
    50%
        opacity .5
        transform: translate3d(100%, 0, 0)
    100%
        opacity 1
        transform: translate3d(0, 0, 0)