.portfolio
    width: 100%
    overflow hidden
    position: relative
    background: url("../../img/bg-port.jpg")
    background-repeat: no-repeat
    background-size: auto
    background-position: top

    .portfolio__container
        max-width: 1170px
        width: 100%
        padding: 0 15px
        margin: 0 auto
        padding-top: 198px
        color: #323232
        @media(max-width 992px)
            padding-top: 115px
    .portfolio__titulo
        font-size: 48px
        font-weight: bold
        line-height: 60px
        @media(max-width 992px)
            text-align: center
            font-size: 28px
    .portfolio__divisor
        height 1px
        width: 145px
        background: #323232
        margin: 25px 0
        @media(max-width 992px)
            margin: 25px auto
    .portfolio__texto
        font-size: 20px
        max-width: 550px
        font-weight: 400
        line-height: 25px
        display: block
        @media(max-width 992px)
            max-width: 100%
            text-align: center
    .portfolio__certificados
        margin-top: 80px
    .portfolio__listacertificados
        display: flex
        align-items: center
        justify-content: space-between
        max-width: 1010px
        margin: 0 auto
        @media(max-width 992px)
            flex-wrap: wrap
            justify-content: center
    .portfolio__itemcertificados
        @media(max-width 992px)
            margin-bottom: 30px
    .portfolio__nomecertificados
        font-size: 14px
        font-weight: bold
        line-height: 18px
        text-align: center
        margin-top: 15px
    .portfolio__textocertificados
        font-size: 14px
        font-weight: 400
        line-height: 18px
        text-align: center
        margin-top: 5px
    .portfolio__depoimentos
        max-width: 1010px
        margin: 0 auto
        margin-top: 58px
    .portfolio__itemdepoimentos
        display: flex
        align-items: center
        margin-bottom: 15px
        transition: all .5s ease-in-out
        transform: translate3d(-200%, 0, 0)
        &--animacao
            transform: translate3d(0, 0, 0)
        @media(max-width 768px)
            flex-wrap: wrap
            justify-content: center
    .portfolio__conteudodepoimentos
        max-width: 747px
        margin-left: 27px
        @media(max-width 768px)
            margin-left: 0px
    .portfolio__nomedepoimentos
        font-size: 14px
        font-weight: bold
        line-height: 18px
        @media(max-width 768px)
            text-align: center
    .portfolio__subdepoimentos
        font-size: 12px
        font-weight: 300
        line-height: 15px
        @media(max-width 768px)
            text-align: center
    .portfolio__textodepoimentos
        font-size: 14px
        font-weight: 400
        line-height: 18px
        margin-top: 14px
        @media(max-width 768px)
            text-align: center
    .portfolio__obrastitulo
        background: url("../../img/bg-port2.jpg")
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        height 208px
        margin-top: 53px
        display: flex
        align-items: center
        justify-content: center
        h2
            font-size: 36px
            color: #ffffff
            font-weight: 900
            line-height: 45px
            text-align: center
            @media(max-width: 768px)
                padding: 0 15px
                font-size: 26px
    .portfolio__tituloobra
        font-size: 33px
        font-weight: bold
        line-height: 41px
        @media(max-width: 992px)
            font-size: 23px
        @media(max-width: 768px)
            text-align: center
    .portfolio__divisorobra
        height: 1px
        width: 145px
        background: #323232
        margin-top: 25px
        margin-bottom: 50px
        @media(max-width: 768px)
            margin: 0 auto
            margin-top: 25px
            margin-bottom: 50px
    .portfolio__listaobras
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
        margin-bottom: 90px
        position: relative
        transition: all .5s ease-in-out
        opacity 0
        @media(max-width: 1250px)
            padding: 0 40px
        &--animacao
            opacity 1
        .slick-arrow
            background: none
            border: none
            font-size: 0
            width: 35px
            height 24px
            position: absolute
            display block
            z-index 1
        .slick-prev
            background: url("../../img/seta-esquerta.png")
            left -50px
            top: 50%
            transform: translateY(-50%)
            @media(max-width: 1250px)
                left 0px
        .slick-next
            background: url("../../img/seta-direita.png")
            right -50px
            top: 50%
            transform: translateY(-50%)
            @media(max-width: 1250px)
                right 0px
    .portfolio__itemobras
        @media(max-width: 1199px)
            padding: 5px
        img
            margin: 0 auto
    .portfolio__container--pad
        padding-top: 92px
        border-bottom: 1px solid #DDDDDD
        margin-bottom: 32px