.post
    &__image
        max-height 231px
        margin 0
        overflow hidden
        display flex
        align-items center

        img
            width 100%

.load-more-posts
    line-height 1 !important
    display flex !important
    justify-content center
    align-items center
    border-radius 24px !important