.single
    &-content
        &-background
            position relative
            &:before
                content ''
                background-color #f8f8f8
                width 50%
                left 0
                position absolute
                top 0
                height 100%

    p
        font-family Overpass
        font-size 16px
        font-weight normal
        font-stretch normal
        font-style normal
        line-height 1.25
        letter-spacing normal
        text-align left
        color #a5a5a5
        margin-bottom 0
        min-height 20px
    strong
        color #171717
        font-size 13px

    h4
        font-family Overpass
        font-weight normal
        font-stretch normal
        font-style normal
        line-height 1.25
        letter-spacing normal
        text-align left
        margin-bottom 0
        min-height 20px
        font-size 25px
    h5
        font-family Overpass
        font-size 18px
        font-weight 800
        font-stretch normal
        font-style normal
        line-height 1.39
        letter-spacing normal
        text-align left
        color #171717
    &-depoimento
        p
            font-family Overpass
            font-size 18px
            font-weight normal
            font-stretch normal
            font-style italic
            line-height 1.33
            letter-spacing normal
            text-align center
            color #a5a5a5

        h3, h5
            font-family Overpass
            font-size 13px
            font-weight 800
            font-stretch normal
            font-style normal
            line-height 1.23
            letter-spacing normal
            text-align center
            color #171717
            

        h3
            font-size 25px
            margin-bottom 0

    &-more
        a
            font-family Overpass
            font-size 17px
            font-weight normal
            font-stretch normal
            font-style normal
            line-height 1.88
            letter-spacing normal
            text-align left
            color #a5a5a5
        svg
            width 14.9px
            height 9.4px
            fill #a5a5a5
    &-ruler
        background-color #171717
        h2
            font-family Overpass
            font-size 85px
            font-weight 900
            font-stretch normal
            font-style normal
            line-height 0.38
            letter-spacing normal
            text-align center
            color #ffffff
            height 107px
            display flex
            align-items center
            justify-content center

        p 
            font-family Overpass
            font-size 25px
            font-weight 100
            font-stretch normal
            font-style normal
            line-height 1.28
            letter-spacing normal
            text-align center
            color #57fff9
    &-thumbnail
        &-2
            background-color #f8f8f8
            display flex
            justify-content center
            align-items center
        &-paper
            max-height 569px
    .py-6
        padding-top 6rem
        padding-bottom 6rem
    &-tagList
        display flex
        flex-direction column
        justify-content center
        &.paragraph
            display flex
            flex-direction column
            height auto
            margin-top 4px

            /* Fonts */
            font-family Overpass
            font-size 16px
            font-weight normal
            font-stretch normal
            font-style normal
            line-height 1.25
            letter-spacing normal
            text-align left
            &, a
                color #171717