.load-more
    height 48px
    border-radius 24px
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.1)
    background-color $windows-blue
    display flex
    justify-content center
    align-items center
    margin 0 auto
    border 0
    outline 0
    padding-left 80px
    padding-right 80px
    cursor pointer

    font-size 1rem
    font-weight 600
    font-stretch normal
    font-style normal
    line-height 1
    letter-spacing normal
    text-align center
    color $white

    &:hover
        background-color color1

.taxonomy
    &__image
        img
            border-radius 10px

    &__title
        font-stretch normal
        font-style normal
        line-height normal
        letter-spacing normal
        font-size 1rem

        display flex
        justify-content center
        flex-direction column

        h2
            font-size 2rem
            font-weight 600
            color $light-navy-blue

        h4
            font-size 1.7rem
            font-weight 500
            font-stretch normal
            font-style normal
            line-height normal
            letter-spacing normal
            color $windows-blue

        p
            line-height 1.87
            letter-spacing normal
            text-align justify
            color $brownish-grey

    &__item
        font-size 1rem
        font-stretch normal
        font-style normal
        line-height normal
        letter-spacing normal
        text-align center
        font-weight 400

        figure
            max-width 300px
            max-height 340px
            overflow hidden
            display flex
            align-items center
            border-radius 10px
            margin-bottom 20px

        h3
            font-size 1rem
            font-weight 600
            color $light-navy-blue

        a
            text-align center
            font-size .9rem
            text-decoration underline

            &, &:visited, &:active
                color $windows-blue !important
                text-decoration underline !important
