.template-categories
    &__title
        h2
            font-size 2rem
            font-weight 600
            font-stretch normal
            font-style normal
            line-height normal
            letter-spacing normal
            color $light-navy-blue

        h4
            font-size 1.7rem
            font-weight 500
            font-stretch normal
            font-style normal
            line-height normal
            letter-spacing normal
            color $windows-blue

    &__description
        display flex
        align-items center

        font-size .95rem
        font-weight 400
        font-stretch normal
        font-style normal
        line-height 1.87
        letter-spacing normal
        text-align justify
        color $brownish-grey
