.alert
    &.alert-dismissible
        position fixed
        top 0
        right 5px
        animation slideDown .2s ease-out forwards
        z-index 999

.admin-bar
    .alert
        &.alert-dismissible
            top 35px