.btn
    font-family SpaceGrotesk
    max-width 100%

    &-facebook
        &-login
            display flex
            justify-content center
            align-items center
            padding 10px 0
            border 1px solid
            background-color #3b5998
            color white
            border-radius 30px
            margin 15px auto
            transition all 200ms ease-in

            svg
                width 12px
                height 25px
                margin-right 10px
                fill white
                transition all 200ms ease-in

            &:hover
                background-color white
                color  #3b5998
                text-decoration none
                border-color: #3b5998
                svg
                    fill  #3b5998

    &-login
        background-color color1
        border-color color1

        &:hover
            background-color color4
            border-color color4
    

    &-rose
        background-color color4
        color white
        font-size 1.7rem
        font-weight bold
        font-stretch normal
        font-style normal
        line-height 1.1
        border 1px solid transparent
        border-radius 5px
        padding 25px 60px

        @media screen and (min-width 600px)
            padding 25px 130px

        &:hover
            background-color color3
            color color4
            border-color color4

    &-rose-clean
        background-color color3
        color color4
        font-size 1.7rem
        font-weight bold
        font-stretch normal
        font-style normal
        line-height 1.1
        border 1px solid color4
        border-radius 5px
        padding 25px 60px

        @media screen and (min-width 600px)
            padding 25px 130px

        &:hover
            background-color color4
            color white
            border-color color1

    &-purple
        background-color color1
        color white
        font-size 1.7rem
        font-weight bold
        font-stretch normal
        font-style normal
        line-height 1.1
        border 1px solid transparent
        border-radius 5px
        padding 25px 60px

        @media screen and (min-width 600px)
            padding 25px 130px

        &:hover
            background-color color3
            color color1
            border-color color1

    &.btn-small
        padding 10px 30px
        max-width 100%

    &.voted
        background-color color1
        