.rmb-btn
    width 147px
    height 35px
    border-radius 3px
    display flex
    justify-content center
    align-items center
    border 1px solid transparent
    text-decoration none
    font-family Overpass
    font-size 16px
    font-weight 600
    font-stretch normal
    font-style normal
    line-height 1.25
    letter-spacing normal
    text-align left
    &:hover
        text-decoration none
    &.rmb-btn-primary
        background-color #2dccc7
        color #fff
        &:hover
            background-color #fff
            color #2dccc7
            border-color #000