body
    .headerContainer
        .headerTitle
            .single-projects-text
                max-width 650px
                font-family Overpass
                font-stretch normal
                font-style normal
                text-align left
                font-weight normal
                letter-spacing normal
                color #ffffff
                font-size 30px
                line-height 1
                h4
                    font-size 25px
                    font-weight 300
                    line-height 1.53
                    color #bcbcbc

                h2
                    font-size 50px
                    font-weight 800
                    line-height 0.46
                    height 89px
                    display flex
                    align-items center
                p
                    color #ffffff
                    font-size 25px
                    line-height 1
                    width 80%

.cases
    font-family Overpass
    background-color #171717
    color #57fff9

    & a
        color #57fff9
    
    @media (max-width: 991px)
        overflow-x hidden
        padding-right 0 !important
        padding-left 0 !important
        & > article
            & .swiperCases
                padding-right 57px
                padding-left 57px
                margin-left -1rem
                margin-right -1rem
                & .case_item
                    & figure
                        border solid 1px #707070
                        height 462px
                        position relative
                        overflow-x hidden
                        justify-content center
                        & img
                            height 100%
                            width auto
                            max-width initial
                            min-width initial
                            flex 0 0 auto
    & svg
        fill #a5a5a5
        width 14.9px
        height 9.4px
        margin-left 7px
    & a
        color #a5a5a5
        font-family Overpass
        font-size 12px
        font-weight normal
        font-stretch normal
        font-style normal
        line-height 1.88
        letter-spacing normal
        &:hover
            color #57fff9
        @media (min-width: 1024px)
            font-size 17px

    & h2
        font-family Overpass
        font-size 25px
        font-weight 100
        font-stretch normal
        font-style normal
        line-height 0.71
        letter-spacing normal
        text-align left
        color #57fff9
        text-transform lowercase
        margin-left 2.1rem
        @media (min-width: 1024px)
            font-size 45px
            margin-left 0

    & .col.text-right
        margin-right 2.1rem
        @media (min-width: 1024px)
            margin-right 0
    & h3
        font-family Overpass
        font-size 20px
        font-weight bold
        font-stretch normal
        font-style normal
        line-height 1.6
        letter-spacing normal
        text-align left
        color #ffffff

    & .case
        &_item
            & svg
                fill #57fff9
                width 15.3px
                height 9.7px

            & footer
                & svg
                    width 27.8px
                    height 17.6px
            & figure
                position relative
                overflow hidden
                display flex
                flex-wrap nowrap
                flex 1
                width 100%
                justify-content flex-end
                align-items flex-start
                & img
                    width 100%
                    flex 0 0 100%
                & > img
                    transition transform 0.3s linear
                &:hover
                    > img
                        transform translateX(-100%)
                    & > div
                        transform translateX(-100%)
            &_content
                small
                    a
                        display inline-block
                        font-family Overpass
                        font-size 14px
                        font-weight normal
                        font-stretch normal
                        font-style normal
                        line-height 2.29
                        letter-spacing normal
                        text-align left
                        color #57fff9

                    
        &_image
            position absolute
            flex 0 0 100%
            max-width 100%
            right  -100%
            height 100%
            transition all 0.3s linear
            & p
                margin-bottom 5px
            & > span
                position absolute
                width 100%
                height 100%
                padding 30px
                left 0
                top 0
                /* Fonts */ 
                font-size 14px
                font-weight normal
                font-stretch normal
                font-style normal
                line-height 1.43
                letter-spacing normal
                text-align left
                color #171717
                & a
                    font-size 14px
                    font-weight normal
                    font-stretch normal
                    font-style normal
                    line-height 1.43
                    letter-spacing normal
                    text-align left
                    color #2dccc7
                    text-transform lowercase
