.commitment
    &__text
        display flex
        justify-content center
        flex-direction column

        h2
            font-size 2rem
            font-weight 600
            color color1

        h4
            color color2
            font-size 1.7rem
            font-weight 500

        article
            color color3
            font-size .9rem
            font-weight 400
            line-height 1.87
            text-align justify


    &__image
        border-radius 10px
        overflow hidden
        height 100%
        margin-bottom 0

        &--container
            max-height 332px

.commitment-blocks
    padding-bottom 100px
    border-bottom 1px solid  $ice-blue

    &__item
        margin-top 50px
        padding-left 3px
        padding-right 3px
        header
            display flex
            height auto
            align-items center
            border-bottom 0

            font-size 1.2rem
            font-weight 500
            color $black

            svg
                width 25px
                height 25px
                fill $light-navy-blue
                margin-right 10px

        article
            font-size .95rem
            line-height 1.87
            letter-spacing normal
            color $brownish-grey