.footer
    & .copyright
        font-family Overpass
        font-size 13px
        font-weight 300
        font-stretch normal
        font-style normal
        line-height 1.54
        letter-spacing normal
        text-align left
        color #bcbcbc
        margin-top 25px
    & .contact
        height 473px
        background-color #171717
        font-family Overpass
        font-size 17px
        font-weight 800
        font-stretch normal
        font-style normal
        letter-spacing normal
        color #fff
        display flex
        justify-content center
        flex-direction column
        padding 20px
        @media (min-width 992px)
            padding 100px
        & a
            color #57fff9

        & h2
            font-size 25px
            font-weight 800
            line-height 2.4
            color #57fff9
            margin-bottom 0
        & small
            font-weight 800
            color #57fff9
        
        & .blog
            font-family Overpass
            font-weight normal
            font-stretch normal
            font-style normal
            letter-spacing normal
            text-align left
            color #ffffff
            & h2
                font-weight 800
                font-size 18px
                line-height 3
                color #ffffff
                margin-top 30px
                @media (min-width 992px)
                    font-size 20px
            & ul
                color #fff
                display flex
                margin 0 -15px
                & li
                    margin 0 15px
                & a
                    color #fff
                    font-size 13px