.fullBanner
    display:flex
    width 100%

    font-family WorkSans
    font-size 1rem
    font-weight 400
    font-stretch normal
    font-style normal
    line-height normal
    letter-spacing normal
    color white

    h3
        
        font-size 1.8rem

        &, strong
            color color1

    h4
        color color1
        font-size 1.8rem
        font-weight 400

    p
        margin-bottom 3px

    &__item
        position relative
        
        span
            position absolute
            left 60%
            top 40%
            transform translate(-50%, -50%)
            z-index 1

            @media screen and (max-width 991px)
                display none

        figure,
        img
            width 100%
