body

    #instagram__list
        position relative

        div
            &[class*=arrow-medium]
                width 16px
                height 30px
                right 15px

                &.swiper-button-prev
                    transform rotate(-180deg)
                    right initial
                    left 15px

                svg
                    fill $windows-blue

                &:after
                    content none

    .socials
        &__title
            font-size 1.7rem
            font-weight 500
            font-stretch normal
            font-style normal
            line-height normal
            letter-spacing normal
            color $light-navy-blue
            margin-bottom 40px
            margin-top 80px

            > div
                display flex
                align-items center

            strong
                color $windows-blue
                font-weight 500

            svg
                width 20px
                height 20px
                fill $windows-blue
                margin-right 10px

            &.icon-youtube
                svg
                    width 27px
                    height 20px

            &.icon-face
                svg
                    width 10px
                    height 20px

        &__wrapper
            iframe
                width 365px
                height 205px

            img
                border-radius 10px
                max-height 198px
                width 100%

        &__container
            padding-left 20px
            padding-right 20px

            @media screen and (min-width 1024px)
                padding-left 45px
                padding-right 45px

    .instagram


        &__list
            position relative