
// Modal Login
.modal-login

    .modal-dialog
        max-width 380px

    .modal-header
        border-bottom 0

    .modal-content
        border-radius 5px

    &__title
        h2
            font(SpaceGrotesk, 2.2rem, bold, color4, normal, left)
            letter-spacing -2.4px
            line-height 1

        h3
            font(SpaceGrotesk, 2.2rem, bold, color1, normal, left)
            letter-spacing -2.4px
            line-height 1

    &__form
        input
            height 60px
            border-radius 5px
            border solid 1px rgba(255, 0, 198, 0.84)
            background-color #f4f4f4

            

            &,&::placeholder
                font(SpaceGrotesk, 1.1rem, lighter, color4, normal, left)

        button
            border-radius 5px
            background-color color4
            width 100%
            color white
            border 1px solid
            border-color color4
            padding 1rem 60px
            font(SpaceGrotesk, 1.5rem, bold, white, normal, center)

            &:hover
                background-color color3
                color color4
                border-color color4

// Modal parental
.parental

    .modal-dialog
        max-width 380px
        
        border-radius 5px
        

    .modal-content
        padding 25px 30px
        border-radius 5px
        border 0

    .modal-body
        button
            width 100%
            text-align left !important
            padding 20px 30px


    .modal-header

        border-bottom 0

        h2
            font(SpaceGrotesk, 2.6rem, bold, color4, normal, left)
            line-height 1
            letter-spacing -2.4px