.partners
    padding-top 35px
    padding-bottom 35px

    & .swiper-slide
        height 59px
        display flex
        justify-content center
        align-content center
        & figure
            flex 0 0 100%
            display:flex
            align-items center
            justify-content center
            margin 0
            height: auto
            min-height 1px
        & img
            height auto
            width auto
            max-width 100%
            flex 0 0 auto