
@media (max-width: 1024px)
    header,
    footer 
        > .row
            width 1000px
    .middle .row
        width 1000px

@media (max-width: 1024px)
    header
        .navbar-light
            .navbar-nav
                .nav-item
                    &:last-child
                        margin-left 10px
                .nav-link
                    text-align center
                    margin-left 20px
    .institucional
        .image
            img
                width 100%
                height auto
    footer
        height auto


@media (max-width: 1024px)
    .videos .video iframe,
    .videos .video img
        width 300px
        height 173px


@media (max-width: 992px)
    header,
    footer
        > .row
            width auto
    .middle .row
        width auto
        

header
    height auto
    .row
        justify-content center


@media (max-width: 812px)
    header
        .navbar-light
            .navbar-toggler
                color rgba(0,0,0,.5)
                border-color rgba(0,0,0,.1)
                position absolute
                left 1.8rem
                top 0.5rem
                z-index 999
            .navbar-nav
                .nav-link
                    justify-content flex-start
                    margin-left 0px
                .nav-item
                    &:last-child
                        margin-left 0px
        .navbar-toggle
            display none
            .icon-bar
                width 25px
                height 3px
                background #a91e33
        .row
            justify-content center
            background rgb(47,47,47)
    .navbar-nav
        margin-top 30px
    .language
        justify-content flex-start
    .conheca
        .image
            img
                width 100%
                height auto
    .video
        .thumb
            &:before
                background url(../images/icn-sprite.png) 0px -20px no-repeat
                background-size 100px
                top 52px
                left 104px
    .row
        &.footer-menu
            padding 20px 0
    nav
        &.socials
            justify-content center
            margin-top 20px


@media (max-width: 812px)
    header .navbar-light .navbar-toggler,
    .navbar-light .navbar-toggler-icon
        background-color #FC551E
        padding 2px 5px


@media (max-width: 812px)
    .videos .video iframe,
    .videos .video img
        width 240px
        height 138px

@media (max-width: 768px)
    .banner
        height 330px
        top 0
        margin-bottom 0
        iframe
            width 768px
            height 330px
    .banner-logo
        width 270px
        height auto
    .banner-frase
        width 215px
        height auto


@media (max-width: 768px)
    .videos .video iframe,
    .videos .video img
        width 226px
        height 138px


@media (max-width: 736px)
    .videos .video iframe,
    .videos .video img
        width 215px
        height 138px

@media (max-width: 736px)
    .produtos
        height auto
        padding 20px 0px


@media (max-width: 667px)
    .videos .video iframe,
    .videos .video img
        width 192px
        height 110px

@media (max-width: 568px)
    .institucional
        .sobre
            margin 0 auto
        .text
            margin-bottom 30px
        .valores
            margin-bottom 0px
            li
                margin-bottom 30px
            img
                margin-bottom 10px
        p
            text-align center
    .conheca
        h1
            margin-top 0px
        li
            margin-bottom 40px
            &:last-child
                margin-bottom 0px
    .video
        .thumb
            &:before
                background url(../images/icn-sprite.png) 0px -20px no-repeat
                background-size 150px
                top 50%
                left 50%
                transform translate(-50%, -50%)
    .footer-menu
        li
            width 100%
            margin-bottom 20px
    nav
        &.socials
            margin-top 20px
    .row
        &.footer-menu
            margin-bottom 20px
    .copyright
        img
            margin-bottom 20px
    footer
        text-align center
        padding 0px 0px 10px 0px
        h3
            font-size 18px
        .social
            a
                justify-content center


@media (max-width: 568px)
    .videos .video iframe,
    .videos .video img
        width 538px
        height 307px


@media (max-width: 414px)
    .videos .video iframe,
    .videos .video img
        width 384px
        height 219px

@media (max-width: 414px)
    .banner-logo
        width 240px
        height auto


@media (max-width: 375px)
    .videos .video iframe,
    .videos .video img
        width 345px
        height 197px


@media (max-width: 360px)
    .videos .video iframe,
    .videos .video img
        width 330px
        height 189px


@media (max-width: 320px)
    .videos .video iframe,
    .videos .video img
        width 290px
        height 166px
