.timeline
    h4
        color color2
        font-size 1.7rem

    .swiper-container
        padding-left 30px
        padding-right 30px

        @media screen and (min-width 1024px)
            padding-left 70px
            padding-right 70px

        &:after
            content ''
            width 100%
            height 3px
            background-image linear-gradient(to right, #f7fcff, #3890c7 50%, #2e2c7b 100%)
            position absolute
            left 0
            bottom 70px
            display block

            @media screen and (min-width 1024px)
                bottom 86px

    .first-products__item
        text-align center
        color color3

        &:first-child
            a
            display block

                figure

                    &:before
                        background-color #3782bc

        a
            display block

            figure
                border-radius 10px
                margin-bottom 40px
                position relative

                img
                    border-radius 10px

                &:before
                    content ''
                    position absolute
                    bottom -33px
                    width 20px
                    height 20px
                    background-color #3465a6
                    border-radius 50%
                    left 50%
                    transform translate(-50%, 0)
                    z-index 5
            

        h6
            color color1
            font-size 1rem
            font-weight 500
            margin-bottom 3px

        p
            font-size 1rem
            font-weight 400
            line-height 1
            max-height 32px