font($family, $size, $weight, $color, $align)
    font-family $family
    font-size $size
    font-weight $weight
    color $color
    text-align $align

Montserrat = 'Montserrat', sans-seri

$darkish-blue = #00319b
$dark-grey-blue = #304269
$light-grey-blue = #91bed4
$black = #333333
$brown-grey = #797979
$brown-grey-two = #a2a2a2
$cobalt = #1b226f
$reddish-orange = #ff601f
$neon-red = #ff0f27
$mango = #ff9e21
$peacock-blue = #006097
$black-three = #141211
$cerulean = #0070d3
$dark = #29242d
$azure = #00a4dd
$tomato = #eb422e
$macaroni-and-cheese = #ffc92f
$rouge = #ad1d26
$rouge-two = #921419
$bright-yellow = #fff100
$dusk-blue = #2e3091
$cherry-red = #ec1b23
$purple-brown = #221e1f
$orange = #ea701f
$pumpkin = #ea7900
$sunflower-yellow = #ffea00
$dark-royal-blue = #001780
$bright-yellow-two = #ffee00
$orange-two = #eb8611
$dark-navy-blue = #000a13
$black-four = #1d120e
$jungle-green = #00793c
$kelley-green = #00863a
$kelly-green = #00a62f
$kelly-green-two = #00b427
$light-navy = #152670
$deep-sea-blue = #004f94
$ocean-blue = #0068b1
$cerulean-two = #0071bc
$purple-brown-two = #7b292d
$rouge-three = #9c2430
$lipstick = #da1836
$neon-red-two = #fc0f3b
$neon-red-three = #ff103f
$very-light-pink = #b7b7b7
$dark-two = #20242a
$black-two = #131313
$black-five = #000000
$cool-grey = #adb2b2
$steel = #86868b
$tomato-two = #ea3516
$rusty-red = #c72714
$orange-three = #f36a10
$marigold = #ffc900
$orange-four = #f16112
$tomato-three = #ec4115
$pinkish-red = #e6152c
$burnt-red = #97110d
$white = #fafafa
$reddish-orange-two = #fc551e
$dark-lime = #73af00
$light-gold = #ffe15a
$blueberry = #41479b
$white-two = #f5f5f5
$light-red = #ff4b55
$faded-red = #c8414b
$light-gold-two = #ffd250
$butterscotch = #fab446
$butterscotch-two = #ffb441
$dull-blue = #5064aa
$powder-pink = #ffa0d2
$white-three = #ffffff


body
    font-family Montserrat