/**
 * APP Default
 */
 Overpass = 'Overpass', sans-serif

 WorkSans = 'Work Sans', sans-serif

 color1 = #2e2c7b
 color2 = #3890c7
 color3 = #676767

 html, body
    height 100%
    font-size 100%
    font-family WorkSans !important



