/**
 * APP Default
 */

 SpaceGrotesk = 'SpaceGrotesk', sans-serif

font($font-family, $font-size, $font-weight, $color, $line-height, $text-align)
   font-family $font-family
   font-size $font-size
   font-weight $font-weight
   font-stretch normal
   font-style normal
   line-height $line-height
   color $color
   text-align $text-align

size($width, $height)
   width $width
   height $height

/**
 * font-family SpaceGrotesk
   font-size 1.2rem
   font-weight bold
   font-stretch normal
   font-style normal
   line-height 2
   letter-spacing -1.2px
   text-align left
   color color4 !important
*/

color1 = #fff
color2 = #FEE8F9
color3 = #F5D9F4
color4 = #FF00C6

@keyframes slideDown
   from
      transform translate(0, -20px)

   to
      transform translate(0, 0)



div[class*=swiper-button-]
   &.arrow_theme
      width 16px
      height 30px
      background none
      padding 0

      right 30px

      &:after
         content none !important

      svg
         fill $white
         width 16px
         height 30px

      &.swiper-button-prev
         transform rotate(-180deg)
         right auto
         left 30px


 html, body
   height 100%
   font-size 80%
   font-family SpaceGrotesk !important

   .btn-filter-apply
      background-color $windows-blue
      height 48px
      color $white
      border-radius 24px
      font-weight 600
      font-size 1.2rem

      &:hover
         background-color $light-navy-blue

   @media screen and (min-width 768px)
      font-size 100%


