/**
 * VTex Local - Variaveis
 */

// ----- Config ----- //

//  Geral
config = {
    "background" : {
        "color": ( #353535 )
        "opacity": rgba(0,0,0,.2)
    },
    "color": ( #ffffff #2e447f #f68c37),
    "button": ({"background": #c1e84b, "color": #fff } {"background": #a3c441, "color": #fff}),
    "font": {
        "family": ("'Dosis', sans-serif"),
        "size": 14px
    },
    "border": {
        "radius": 3px
    },
    "facebook": #42579c,
    "twitter": #54a6e5,
    "google": #ce5333
}
text = {
     "font": {
        "family": ("'Poppins', sans-serif"),
        "size": 14px
    },

    "color": ( #000000),
}

cor01 = {
    "color" : (#607b8a),
}

 
